services:
  jenkins:
    image: jenkinsci/blueocean:latest
    container_name: jenkins
    ports:
      - "9090:8080"          # â† brand new free port
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - //var/run/docker.sock:/var/run/docker.sock
    privileged: true

volumes:
  jenkins_home: